.library-table__type{
    width: 10%;
}

.library-table__author{
    width: 40%;
}

.library-table__title{
    width: 50%;
}

.path-row{
    margin: 35px 0 15px 35px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 8px;
}